.DS_Store
ADR doc-template-service/
adr_saas-sbercrm-doc-template-service.md
mvp-requirements.rtf
template_variable_spec
ddl.sql
**/target/
.idea/
META-INF/
templates/
documents/
saas-sbercrm-doc-template-service-impl/templates/
saas-sbercrm-doc-template-service-impl/documents/
